* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: rgb(245, 245, 245);
    font-family: 'Poppins', Arial, sans-serif;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #0d0d0d;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: #6c63ff;
}

.nav-links a.active {
    color: #6c63ff;
    border-bottom: 2px solid #6c63ff;
    padding-bottom: 4px;
}

.btn {
    background: #6c63ff;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.moon-btn {
    background: transparent;
    border: 2px solid #555;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    color: #6c63ff;
    border: 2px solid #6c63ff;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}



.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 80px;
    background: #a8d2f7;
    position: relative;
}

.hero-content {
    width: 50%;
    padding-top: 20px;
}

.hero-content h1 {
    font-size: 65px;
    margin: 10px 0;
    color: #111;
}

.hero-content h4 {
    color: #6c63ff;
    font-size: 22px;
    font-weight: 500;
}

.hero-content h3 {
    color: #333;
    margin-bottom: 15px;
    font-size: 28px;
}

.hero-content p {
    margin-bottom: 25px;
    color: #666;

}

.buttons {
    display: flex;
    gap: 15px;
}

.hero-image {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    outline: 5px solid #fff;

}

.hero-image img {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;

}


.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px;
    background: rgb(245, 245, 245);
    gap: 60px;
    border-bottom: 1px solid #ddd;
}

.about-image {
    width: 350px;
    height: 250px;
}

.about-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.about-content {
    flex: 1;

}

.about-content h2 {
    font-size: 32px;
    font-weight: 700;
    color: #111;
    margin-bottom: 8px;
}

.about-content h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #6c63ff;
    margin-top: 8px;
    margin-bottom: 20px;
}

.about-content p {
    color: #666;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 25px;
}

.about-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.detail-item {
    display: flex;
    font-size: 14px;
    color: #444444;
    gap: 12px;
}


.detail-item span {
    font-weight: 400;
    color: #111;
}

.detail-item i {
    color: #6c63ff;
}

.skills {
    padding: 60px 80px;
    text-align: center;
    background: rgb(245, 245, 245);
}

.skills h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.skills h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #6c63ff;
    margin: 8px auto 30px auto;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 120px;
    padding: 30px 20px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    transition: transform 0.3s;
}

.skill-item:hover {
    transform: translateY(-5px);
}

.skill-item i {
    font-size: 2.5rem;
}

.skill-item span {
    font-size: 0.85rem;
    font-weight: 500;
}


.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #1572b6;
}

.fa-js {
    color: #f7df1e;
}

.fa-react {
    color: #61dafb;
}

.fa-bootstrap {
    color: #7952b3;
}

.fa-sass {
    color: #cc6699;
}

.fa-node-js {
    color: #339933;
}

.fa-figma {
    color: #f24e1e;
}

.services {
    padding: 60px 80px;
    text-align: center;
}

.services h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.services h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #6c63ff;
    margin: 8px auto 30px auto;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.service-card {
    width: 350px;
    padding: 40px 30px;
    border-radius: 12px;
    background: #fff;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 15px;


    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-8px);

}

.service-card i {
    font-size: 2rem;
    color: #7c3aed;
    background: #ede9fe;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.service-card p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.6;
}

.card-1 .service-icon i {
    color: #6c63ff;
    background: #ede9fe;
}

.card-2 .service-icon i {
    color: #22c55e;
    background: #dcfce7;
}

.card-3 .service-icon i {
    color: #ec4899;
    background: #fce7f3;
}

.projects {
    padding: 60px 80px;
    text-align: center;
    background: rgb(245, 245, 245);
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.projects h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #6c63ff;
    margin: 8px auto 20px auto;
}


.project-filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

.filter-btn {
    padding: 8px 20px;
    border: 2px solid #f5f5f5;
    ;
    border-radius: 20px;
    background: #fff;
    color: #444;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
    background: #6c63ff;
    color: #fff;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    padding: 20px 0;
}

.project-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

}

.project-card:hover {
    transform: translateY(-8px);

}

.project-card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    display: block;
}

.project-info {
    padding: 15px;
    text-align: center;
}

.project-info h3 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #111;
    margin-bottom: 4px;
    white-space: normal;

}

.project-info p {
    font-size: 0.85rem;
    color: #666;
    margin-bottom: 10px;
}

.project-info a {
    font-size: 0.85rem;
    color: #6c63ff;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid rgba(108, 99, 255, 0.3);
    padding: 6px 14px;
    border-radius: 5px;
    display: inline-block;
}

.project-info a:hover {
    text-decoration: underline;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 15px 0;
    background: #6c63ff;
    text-align: center;
}

.stat-item {
    color: #fff;
    padding: 8px 50px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-content: center;
    gap: 12px;
}


.stat-item:first-child {
    border-left: none;
}

.stat-item i {
    font-size: 40px;
}

.stat-item h3 {
    text-align: start;
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: 2px;
}

.stat-item p {
    font-size: 0.75rem;
    opacity: 0.9;
    white-space: nowrap;
}

.testimonials {
    padding: 60px 80px;
    text-align: center;
    background: #f5f5f5;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.testimonials h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #6c63ff;
    margin: 8px auto 40px auto;
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonial-card {
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;

    min-height: 220px;


}

.testimonial-quote {
    display: flex;
    margin-bottom: 15px;
    margin-top: auto;
    gap: 40px;
}

.testimonial-quote i {
    font-size: 1.5rem;
    color: #6c63ff;
    margin-bottom: 10px;
    display: block;
}

.testimonial-quote p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.6;
    margin: 0;
}

.testimonial-card p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
    margin-top: auto;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.testimonial-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-author h4 {
    font-size: 0.95rem;
    font-weight: 600;
    color: #111;
}

.testimonial-author span {
    font-size: 0.8rem;
    color: #888;
}

.pricing {
    padding: 60px 80px;
    text-align: center;
    background: rgb(245, 245, 245);
}

.pricing h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.pricing h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #6c63ff;
    margin: 8px auto 40px auto;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    margin: 0 auto;
    padding-top: 20px;
}

.pricing-card {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 40px 30px;
    text-align: center;
    background: #fff;
    position: relative;
    overflow: hidden;
}

.pricing-card h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #111;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 10px;

}

.pricing-card .price {
    font-size: 2.5rem;
    font-weight: 700;
    color: #555;
    margin-bottom: 25px;

}

.pricing-card .price span {
    font-size: 1rem;
    color: #888;
    font-weight: 400;

}

.pricing-card ul {
    list-style: none;
    margin-bottom: 30px;
    text-align: left;
    padding: 20px;
}

.pricing-card ul li {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 12px;
}

.pricing-card ul li i {
    color: #6c63ff;
    margin-right: 8px;
}

.pricing-card a {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #6c63ff;
    border-radius: 25px;
    color: #6c63ff;
    text-decoration: none;
    font-weight: 500;

}

.pricing-card a:hover {
    background: #6c63ff;
    color: #fff;
}

.popular {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    text-align: center;
    background: #fff;
    position: relative;
    overflow: hidden;
}

.popular-text {
    padding: 15px 30px;
}

.popular-text h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #111;
    margin-bottom: 25px;

}

.card-bg {
    background-color: #574fd6;
    padding: 10px 0;

}

.card-bg span {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;

}

.popular .price {
    font-size: 2.5rem;
    font-weight: 700;
    color: #555;
    margin-bottom: 25px;

}

.popular .price span {
    font-size: 1rem;
    color: #888;
    font-weight: 400;
}

.popular ul {
    list-style: none;
    margin-bottom: 30px;
    text-align: left;
    padding: 20px;
}

.popular ul li {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 12px;
}

.popular ul li i {
    color: #6c63ff;
    margin-right: 8px;
}

.popular a {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #6c63ff;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    background-color: #6c63ff;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px 80px;
    text-align: left;
}

.section-title {
    font-size: 28px;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.underline {
    width: 60px;
    height: 3px;
    background-color: #574fd6;
    margin: 8px auto 30px auto;
}

.form-wrapper {



    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;



}

.contact-details-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}



.form-group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;


}

.form-group input,
.contact-form textarea,
.contact-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#msg-box {
    width: 100%;
}

.btn-submit {
    width: 40%;
    background-color: #574fd6;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.contact-details h4 {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.info-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
}


.info-item i {
    color: #574fd6 !important;
    font-size: 15px;
    width: 25px;
    text-align: center;
    margin-top: 2px;

}

.info-item div {
    display: flex;
    flex-direction: column;
}

.info-item h4 {
    margin-bottom: 4px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.info-item p {
    margin: 0;
    color: #666;
    font-size: 12px;
    line-height: 1.4;
}


.info-item .fa-phone-alt {
    transform: scaleX(-1);
}


.social-box {
    margin-top: 8px;
    text-align: left;
}

.social-box h4 {
    margin-bottom: 12px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}


.social-icons {
    display: flex;
    gap: 12px;
}


.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #f0efff;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s ease;
}


.social-icons a i {
    color: #574fd6 !important;
    font-size: 14px !important;
    width: auto !important;
    margin: 0 !important;
}


.social-icons a:hover {
    background-color: #574fd6;
}

.social-icons a:hover i {
    color: #ffffff !important;
}

.contact-map {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {


    HTML, body {
        overflow-x: hidden;
        width: 100%;
        margin: 0;
        padding: 0;

    }

    .navbar {
       
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        position: relative;
    }
    .navbar .logo, .navbar h2 {
        margin: 0;
        text-align: left;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #111;
        padding: 20px;
        gap: 15px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    }
    .nav-links.active{
        display: flex !important;
        
    }
    .nav-links li {
        width: 100%;
        text-align: left;
    }
    .nav-links a {
        display: block;
        color: white;
        font-size: 18px;
        padding: 10px 0;
        width: 100%;
    }
    .hamburger{
        display: block;
        font-size: 28px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }
    


    .hero {
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding: 40px 20px;
         gap: 30px;
    }

    .hero-content {
        width: 100%;
    }

    .hero-image {
        width: 220px;
        height: 220px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .hero-image img {
        width: 220px;
        height: 220px;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .hero-content h2 {
        font-size: 24px;
    }

    .hero-content p {
        font-size: 16px;
        text-align: left;
    }

    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 20px;
        gap: 30px;
    }

    .about-image {
        width: 220px;
        height: 220px;
        margin: 0 auto;

    }

    .about-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .about-content h2 {
        font-size: 32px;
    }

    .about-content h2::after {
        margin: 8px auto 20px auto;
    }

    .about-content {
        width: 100%;
    }

    .about-content p {
        text-align: center;
        line-height: 1.8;
    }

    .about-details {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .skills {
        padding: 50px 20px;
    }

    .skills-container {
        justify-content: center;
        gap: 15px;
    }

    .skills-item {
        width: 100px;
    }

    .services {
        padding: 50px 20px;
    }

    .services-container {
        flex-direction: column;
    }

    .service-card {
        width: 100%;
    }

    .projects {
        padding: 50px 20px;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .stats {
        flex-direction: column;
    }

    .stat-item {
        padding: 20px;
        border: none;
    }

    .testimonials {
        padding: 50px 20px;
    }

    .testimonials-container {
        grid-template-columns: 1fr;
    }

    .pricing {
        padding: 50px 20px;
    }

    .pricing-container {
        grid-template-columns: 1fr;
    }

    .contact-container {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }

    .form-group {
        grid-template-columns: 1fr;
    }

    .contact-details-wrapper {
        grid-template-columns: 1fr;
    }

    .btn-submit {
        width: 100%;
    }
}